.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 300px;
    height: 300px;
    line-height: 300px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  /** Styles to make the demo look better. */
  .example-ripple-checkbox {
    margin: 6px 12px 6px 0;
  }
  
  .example-ripple-form-field {
    margin: 0 12px 0 0;
  }

  :host ::ng-deep .ui-button {
    margin: .5em .5em .5em 0;
    width: 140px;
}
@media screen and (max-width: 40em) {
    :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}
